/* Styles de réinitialisation et généraux */
body {
	font-family: 'Arial', sans-serif;
	background-color: #eee;
	margin: 0;
	padding: 0;
}

.container {
	margin: auto;
	max-width: 1200px;
	text-align: center;
}

h2 {
	color: #333;
	text-align: center;
	margin-top: 50px;
}

/* Styles de la barre de navigation */
.navbar {
	background-color: #4CAF50;
	overflow: hidden;
	text-align: center;
	padding: 20px 0;
}

.navbar a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 20px 20px;
}

.navbar a:hover {
	background-color: #eee;
	color: black;
}

.navbar-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.navbar-list li {
	display: inline-block;
	margin-right: 20px;
}

/* Styles du formulaire */
.form-container {
	max-width: 600px;
	width: 50%;
	margin: 0 auto;
	border: 1px solid #eee;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
	display: block;
	margin-bottom: 10px;
}

.form-container input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 3px;
	box-sizing: border-box;
}

.form-container button[type="submit"] {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 3px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form-container button[type="submit"]:hover {
	background-color: #0056b3;
}

/* Styles du tableau */
table {
	width: 1200px;
	margin: 20px auto;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #333;
	color: #fff;
}

/* Styles des boutons */
.button-container, .button-table {
	display: flex;
	justify-content: center;
}

.button-table {
	margin-top: 20px;
	margin-left: 950px;
}

.button-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.button-list li {
	display: inline-block;
	margin-right: 20px;
}

.button {
	display: inline-block;
	width: 200px;
	padding: 10px 0;
	background-color: #4CAF50;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: #eee;
	color: black;
}

/* Styles ajustés pour les boutons */
.delete-button {
    padding: 7px 20px;
    background-color: #ff0000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
	background-color: #eee;
	color: black;
}

/* Styles ajustés pour le tableau */
tr {
	position: relative;
}

td:last-child {
    text-align: right;
}

.delete-button-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.ateliers-table td:last-child {
    text-align: right; 
    position: relative; 
}

.ateliers-table td:nth-child(5) {
    padding-right: 100px;
}

/* Styles pour les sélecteurs */
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

select option {
	background-color: #fff;
	color: #333;
}

select:focus {
	outline: none;
	border-color: #007bff;
}

select option[selected] {
	display: none;
}

/* Styles pour les entrées de type date et heure */
input[type="datetime-local"] {
  width: 250px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="datetime-local"]:focus {
  outline: none;
  border-color: #007bff; 
}