<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Ateliers</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar">
	    <ul class="navbar-list">
	        <li><a th:href="@{/artisans}">Liste des artisans</a></li>
	        <li><a th:href="@{/ateliers}">Liste des ateliers</a></li>
	        <li><a th:href="@{/participants}">Liste des participants</a></li>
	        <li><a th:href="@{/reservations}">Liste des réservations</a></li>
	    </ul>
	</div>
	<div class="container">
	    <h2>Liste des Ateliers</h2>
	    <table class="ateliers-table">
	        <thead>
	        <tr>
	            <th>ID</th>
	            <th>Catégorie</th>
	            <th>Artisan</th>
	            <th>Description</th>
	            <th>Créneau</th>
	            <th></th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr th:each="atelier : ${ateliers}">
	            <td th:text="${atelier.id}"></td>
	            <td th:text="${atelier.categorie}"></td>
	            <td th:text="${atelier.artisan.firstName + ' ' + atelier.artisan.lastName}"></td>
	            <td th:text="${atelier.description}"></td>
	            <td>
	                <div th:text="${#temporals.format(atelier.creneau, 'dd-MM-yyyy HH:mm')}"></div>           
				</td> 
				<td>
		            <div class="delete-button-container">
		                <form action="/delete-atelier" method="post">
		                    <input type="hidden" name="atelierId" th:value="${atelier.id}">
		                    <button type="submit" class="delete-button">Supprimer</button>
		                </form>
		           	</div> 
	           	</td>              
	        </tr>
	        </tbody>
	    </table>
	    <button type="button" onclick="location.href='/creerAtelier'"
	            class="button button-table">Créer un atelier</button>
	    <button type="button" onclick="location.href='/reserverCreneau'"
	            class="button button-table">Réserver un atelier</button>
	</div>
</body>
</html>
