<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Créer un Atelier</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar">
		<ul class="navbar-list">
			<li><a th:href="@{/artisans}">Liste des artisans</a></li>
			<li><a th:href="@{/ateliers}">Liste des ateliers</a></li>
			<li><a th:href="@{/participants}">Liste des participants</a></li>
			<li><a th:href="@{/reservations}">Liste des réservations</a></li>
		</ul>
	</div>
	
	<div class="container">
	<h2>Ajouter un nouvel Atelier</h2>
	<form th:action="@{'/creerAtelier'}" method="post" class="form-container">
	    <label for="artisan">Sélectionnez un Artisan :</label>
	    <select id="artisan" name="artisanId" required>
	        <option value="" disabled selected hidden=>Sélectionnez un Artisan</option>
	        <option th:each="artisan : ${artisans}" 
	        	th:value="${artisan.id}" 
	        	th:text="${artisan.firstName + ' ' + artisan.lastName}"></option>
	    </select>
	    <br>
	    <label for="categorie">Catégorie :</label>
	    <input type="text" id="categorie" name="categorie" required>
	    <br>
	    <label for="description">Description :</label>
	    <input type="text" id="description" name="description" required>
	    <br>
	    <label for="creneau">Créneau :</label>
	    <input type="datetime-local" id="creneau" name="creneau" required>
	    <br>
	    <br>
	    <button type="submit">Ajouter Atelier</button>
	</form>
	</div>

</body>
</html>
