<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Accueil</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h2>Application de réservation d'ateliers</h2>
	<div class="button-container">
		<ul class="button-list">
			<li><a class="button" th:href="@{/artisans}">Liste des artisans</a></li>
			<li><a class="button" th:href="@{/ateliers}">Liste des ateliers</a></li>
			<li><a class="button" th:href="@{/participants}">Liste des participants</a></li>
			<li><a class="button" th:href="@{/reservations}">Liste des réservations</a></li>
		</ul>
	</div>
</body>
</html>
