<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Liste des Participants</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar">
		<ul class="navbar-list">
			<li><a th:href="@{/artisans}">Liste des artisans</a></li>
			<li><a th:href="@{/ateliers}">Liste des ateliers</a></li>
			<li><a th:href="@{/participants}">Liste des participants</a></li>
			<li><a th:href="@{/reservations}">Liste des réservations</a></li>
		</ul>
	</div>

	<div class="container">
		<h2>Liste des Participants</h2>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="participant : ${participants}">
					<td th:text="${participant.id}"></td>
					<td th:text="${participant.firstName}"></td>
					<td th:text="${participant.lastName}"></td>
					<td>
			            <div class="delete-button-container">
			                <form action="/delete-participant" method="post">
			                    <input type="hidden" name="participantId" th:value="${participant.id}">
			                    <button type="submit" class="delete-button">Supprimer</button>
			                </form>
		            	</div>
					</td>	
				</tr>
			</tbody>
		</table>
	</div>
	
	<h2>Ajouter Participant</h2>
	<form action="/participants" method="post" class="form-container">
		<label for="firstName">Prénom:</label> 
		<input type="text" id="firstName" name="firstName" required>
		<br> 
		<label for="lastName">Nom:</label> 
		<input type="text" id="lastName" name="lastName" required>
		<br>
		<button type="submit">Ajouter Participant</button>
	</form>	
</body>
</html>
