<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Liste des Réservations</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar">
		<ul class="navbar-list">
			<li><a th:href="@{/artisans}">Liste des artisans</a></li>
			<li><a th:href="@{/ateliers}">Liste des ateliers</a></li>
			<li><a th:href="@{/participants}">Liste des participants</a></li>
			<li><a th:href="@{/reservations}">Liste des réservations</a></li>
		</ul>
	</div>

	<div class="container">
		<h2>Liste des Réservations</h2>
		
		<div>
		<form id="reservationForm" action="/reservations" method="get">
		    <select name="participantId" style="width:400px; border-color:#007bff;" onchange="this.form.submit()">
		        <option value="0" disabled selected hidden=>Sélectionnez un Participant</option>
		        <option value="">Lister toutes les Réservations</option>
		        <option th:each="participant : ${participants}"
		                th:value="${participant.id}"
		                th:text="${participant.firstName + ' ' + participant.lastName}"></option>
		    </select>
		</form>
	
		</div>
			
		<div th:if="${param.participantId}">
		    <table>
		        <thead>
		            <tr>
		                <th>ID</th>
		                <th>Participant</th>
		                <th>Atelier</th>
		                <th>Créneau</th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="reservation : ${reservations}">
		                <td th:text="${reservation.id}"></td>
		                <td th:text="${reservation.participant.firstName + ' ' + reservation.participant.lastName}"></td>                  
		                <td th:text="${reservation.atelier.description}"></td>
		                <td>
		                    <div th:text="${#temporals.format(reservation.atelier.creneau, 'dd-MM-yyyy HH:mm')}"></div>           
		                </td> 
		                <td>
		                    <div class="delete-button-container">
		                        <form action="/cancel-reservation" method="post">
		                            <input type="hidden" name="reservationId" th:value="${reservation.id}">
		                            <button type="submit" class="delete-button">Annuler</button>
		                        </form>
		                    </div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
		<div th:unless="${param.participantId}">
		    <p>Sélectionnez un participant pour afficher les réservations.</p>
		</div>
	</div>
</body>
</html>
