<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Réserver un créneau</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar">
		<ul class="navbar-list">
			<li><a th:href="@{/artisans}">Liste des artisans</a></li>
			<li><a th:href="@{/ateliers}">Liste des ateliers</a></li>
			<li><a th:href="@{/participants}">Liste des participants</a></li>
			<li><a th:href="@{/reservations}">Liste des réservations</a></li>
			
		</ul>
	</div>

	<div class="container">
		<h2>Réserver un Créneau</h2>
		<form th:action="@{'/reservations'}" method="post" class="form-container">
			<label for="atelier">Sélectionnez un Atelier :</label> 
			<select	id="atelier" name="atelierId" required>
				<option value="" disabled selected hidden=>Sélectionnez un Atelier</option>
				<option th:each="atelier : ${ateliers}" 
					th:value="${atelier.id}"
					th:text="${atelier.description + ' ' + #temporals.format(atelier.creneau, 'dd-MM-yyyy HH:mm')}"></option>
			</select> 
			<br>
			<br> 
			<label for="participant">Sélectionnez un Participant :</label> <select id="participant" name="participantId" required>
				<option value="" disabled selected hidden=>Sélectionnez un Participant</option>
				<option th:each="participant : ${participants}"
					th:value="${participant.id}"
					th:text="${participant.firstName + ' ' + participant.lastName}"></option>
			</select> 
			<br>
			<br>
			<button type="submit" class="button">Réserver</button>
		</form>
	</div>
</body>
</html>


